body{
    background-color: #897C5A;
    color: #E9F2C9;
}
h1{
    color: #fff;
    text-shadow: 2px 2px 3px black;
    
}
nav{
    background-color: #2E6043;
}
.navli a, .kinyito-gomb{
    color: #E9F2C9;
}
.navli:hover, .kinyito:hover, .kinyito-belul a:hover{
    background-color: #E9F2C9;
}
.navli:hover a, .kinyito-belul a:hover, .kinyito:hover a:not(.kinyito-belul a){
    color: #2E6043;
}
.kinyito-belul{
    background-color: #2E6043;
}
.kinyito-belul a{
    color: #E9F2C9;
}
#tablazat{
    background-color: #433F36;
}
footer{
    background-color: #0F2612;
}
a:not(nav a){
    color: #72A603;
}

a:visited:not(nav a:visited){
    color: #A9D943;
}
#footer label{
    color:#A9D943;
}
button{
    background-color: #ffffff00;
    border: #ffffff00;
    color:#A9D943;
}

.dark-mode{
    background-color: #282520;
}
.dark-mode #tablazat{
    background-color: #081609;
}
.dark-mode #nav{
    background-color: #154715;
}
.dark-mode #nav a{
    color: #4A976D;
}