body{
    background-color: #897C5A;
    color: #0A0F0B;
}
h1{
    color: #fff;
    text-shadow: 2px 2px 3px black;
    
}
nav{
    background-color: #E9F2C9;
}
.navli a, .kinyito-gomb{
    color: #2A2E2D;
}
.navli:hover, .kinyito:hover, .kinyito-belul a:hover{
    background-color: #2A2E2D;
}
.navli:hover a, .kinyito-belul a:hover, .kinyito:hover a:not(.kinyito-belul a){
    color: #E9F2C9;
}
.kinyito-belul{
    background-color: #E9F2C9;
}
.kinyito-belul a{
    color: #2A2E2D;
}
#tablazat{
    background-color: #433F36;
}
footer{
    background-color: #2A2E2D;
    color: #E9F2C9;
}
a:not(nav a){
    color: #72A603;
}

a:visited:not(nav a:visited){
    color: #A9D943;
}
#footer label{
    color:#A9D943;
}
button{
    background-color: #ffffff00;
    border: #ffffff00;
    color:#A9D943;
}

.dark-mode{
    background-color: #282520;
    color: #E9F2C9;
}
.dark-mode #tablazat{
    background-color: #081609;
}
.dark-mode #nav{
    background-color: #154715;
}
.dark-mode .navli a, .dark-mode .kinyito-gomb{
    color: #4A976D;
}


.dark-mode .navli:hover, .dark-mode .kinyito:hover, .dark-mode .kinyito-belul a:hover{
    background-color: #0A0F0B;
}
.dark-mode.navli:hover a, .dark-mode .kinyito-belul a:hover, .dark-mode .kinyito:hover a:not( .dark-mode .kinyito-belul a){
    color: #4A976D;
}

.dark-mode .kinyito-belul{
    background-color: #154715;
}
.dark-mode .kinyito-belul a{
    color: #4A976D;
}

.dark-mode footer{
    background-color: #154715;
}

